@import "tailwindcss";
.star-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    overflow: hidden;
  }
  .background:radial-gradient(
  ellipse at center,
  rgba(168, 85, 247, 0.4),
  rgba(255, 255, 255, 0) 70%
);

  